---
apiVersion: v1
kind: Namespace
metadata:
  name: prod
  labels:
    environment: prod
    owner: sre-team
    purpose: production
---
apiVersion: v1
kind: ResourceQuota
metadata:
  name: prod-quota
  namespace: prod
spec:
  hard:
    requests.cpu: "2"
    requests.memory: 2Gi
    persistentvolumeclaims: "4"
    pods: "8"
---
apiVersion: v1
kind: LimitRange
metadata:
  name: prod-limits
  namespace: prod
spec:
  limits:
  - max:
      cpu: "1000m"
      memory: "1Gi"
    min:
      cpu: "100m"
      memory: "128Mi"
    default:
      cpu: "300m"
      memory: "384Mi"
    defaultRequest:
      cpu: "150m"
      memory: "192Mi"
    type: Container
