---
apiVersion: v1
kind: Namespace
metadata:
  name: qa
  labels:
    environment: qa
    owner: sre-team
    purpose: quality-assurance
---
apiVersion: v1
kind: ResourceQuota
metadata:
  name: qa-quota
  namespace: qa
spec:
  hard:
    requests.cpu: "1"
    requests.memory: 1Gi
    persistentvolumeclaims: "2"
    pods: "5"
---
apiVersion: v1
kind: LimitRange
metadata:
  name: qa-limits
  namespace: qa
spec:
  limits:
  - max:
      cpu: "500m"
      memory: "512Mi"
    min:
      cpu: "50m"
      memory: "64Mi"
    default:
      cpu: "200m"
      memory: "256Mi"
    defaultRequest:
      cpu: "100m"
      memory: "128Mi"
    type: Container
